// text, button, input, table ...
@mixin Text($fs, $fw, $c, $hc: $c) {
  font-size: $fs;
  color: $c;
  font-weight: $fw;
  &:hover {
    color: $hc;
  }
}

@mixin Button($bg, $bd, $br, $pd, $h, $bs) {
  background: $bg;
  border: $bd;
  border-radius: $br;
  display: inline-block;
  padding: $pd;
  height: $h;
  box-shadow: $bs;
  cursor: pointer;
}
