$c1-100: #f5f9fe;
$c1-200: #e2ebfc;
$c1-300: #c9d8f4;
$c1-400: #60a4f4;
$c1-500: #2a73dd;
$c1-600: #656774;
$c1-700: #1d365e;

$cWhite: #ffffff;

// style guide
$text-xs: 0.75rem;
$text-base: 1rem;
$text-sm: 1.25rem;
$text-md: 1.5rem;
$text-lg: 2rem;
$text-xl: 3rem;
$text-2xl: 4rem;
$text-3xl: 5rem;

$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;