@import "./base";
@import "./mixins";
@import "./variables";
.header {
  background-color: $c1-100;
  box-shadow: 0 2px 4px $c1-200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 69;
  .container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;

    .logo {
      @include Text($text-lg, $text-bold, $c1-500);
      text-decoration: none;
    }

    .navbar {
      a {
        @include Text($text-base, $text-semiBold, $c1-700, $c1-500);
        margin-left: 2rem;
        text-decoration: none;
        transition: all 0.4s;
        position: relative;
        // parent selector
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 0;
          height: 2px;
          background-color: $c1-500;
          transition: all 0.4s;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
        }

        &.active {
          color: $c1-500;
        }
      }
      #cart {
        &::after {
          content: "";
          position: unset;
        }

        margin-left: 5rem;
        i {
          font-size: 2rem;
        }
        .countNumb {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.product {
  .title {
    h2 {
      text-align: center;
      margin: 3rem;
    }
  }
  .main {
    .sortItem {
      margin: 2rem 0;
      z-index: 10;
      input {
        &:nth-of-type(2) {
          margin-left: 3rem;
        }
      }
    }
    #row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .col {
        width: 100%;
        margin-bottom: 2rem;

        .item {
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          width: 100%;
          img {
            width: 100%;
          }
        }

        // @for $i from 0 to 6 {
        //   .item-#{$i + 1} {
        //     animation-delay: $i * 0.5s;
        //   }
        // }
      }
    }
  }
}
img {
  width: 100% !important;
}
